<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div th:replace="~{frag-navigation :: nav_bar}"></div>

<div class="container-fluid">
    <div class="row">
        <nav th:replace="~{frag-container :: container}"></nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div th:if="${param.delete_success}" class=" alert alert-info">
                Пользователь успешно удален.
            </div>
            <div th:if="${param.create_success}" class=" alert alert-info">
                Пользователь успешно добавлен.
            </div>
            <div th:if="${param.active_success}" class=" alert alert-info">
                Изменена активность пользователя.
            </div>
            <div th:if="${param.updatePass_success}" class=" alert alert-info">
                Изменён пароль пользователя.
            </div>
            <div>
                <h1>Здравствуй администратор, <span th:text="${username}"></span>!</h1>
            </div>
            <div>
                <p><a th:href="@{/users/create}">
                    <span data-feather="plus-circle"></span>
                    Добавить пользователя</a></p>
            </div>
            <h1 class="h2">Все пользователи</h1>
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                <div th:switch="${userList}">
                    <h3 th:case="null">Нет данных для отображения</h3>
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th scope="col" hidden>
                                <a>id</a>
                            </th>
                            <th scope="col">
                                <a>Фамилия</a>
                            </th>
                            <th scope="col">
                                <a>Имя</a>
                            </th>
                            <th scope="col">
                                <a>Логин пользователя</a>
                            </th>
                            <th scope="col">
                                <a>Роль</a>
                            </th>
                            <th scope="col">
                                <a>Активность</a>
                            </th>
                            <th scope="col">
                                <a>Действия</a>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="users : ${userList}">
                            <td th:text="${users.id}" hidden></td>
                            <td th:text="${users.firstName}"></td>
                            <td th:text="${users.lastName}"></td>
                            <td th:text="${users.username}"></td>
                            <td th:text="user"></td>
                            <td>
                                <a th:if="${users.enabled == true}" href="#" th:href="@{/users/isActive/{id}(id=${users.id})}" class="btn btn-danger">Отключить</a>
                                <a th:if="${users.enabled == false}" href="#" th:href="@{/users/isActive/{id}(id=${users.id})}" class="btn btn-success">Включить</a>
                            </td>
                            <td hidden th:text="${users.enabled}"></td>
                            <td>
                                <a hidden href="#" th:href="@{/users/{id}(id=${users.id})}" class="btn btn-info">Просмотреть</a>
<!--                                <a href="#" th:href="@{/users/updPass/{id}(id=${users.id})}" class="btn btn-info">Изменить пароль</a>-->
                                <a href="#" th:href="@{/users/delUser/{id}(id=${users.id})}" class="btn btn-info">Удалить</a></td>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</div>
<script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/jquery.slim.min.js}"></script>
<!--Icons-->
<script th:src="@{/js/feather.min.js}"></script>
<script>
    feather.replace()
</script>
</body>
</html>

